<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
      <div class="form-group">
        <label for="nameSurname" class="form-label">Ad Soyad</label>
        <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname" placeholder="Ad Soyad"
          [ngClass]="{ 'is-invalid': submitted && component.nameSurname.errors }" />
        <div class="form-text invalid-feedback" *ngIf="submitted && component.nameSurname.errors?.required"
          style="color: red">
          Lütfen Ad Soyadı Boş geçmeyiniz.
        </div>
        <div class="form-text invalid-feedback"
          *ngIf="submitted && (component.nameSurname.errors?.maxlength || component.nameSurname.errors?.minlength)"
          style="color: red">
          Lütfen Ad Soyadı 3 - 50 karakter arasında yazınız.
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="form-label">Kullanıcı Adı</label>
        <input type="text" formControlName="username" class="form-control" id="username"
          placeholder="Kullanıcı Adı" [ngClass]="{ 'is-invalid': submitted && component.username.errors }" />
        <div class="form-text invalid-feedback" *ngIf="submitted && component.username.errors?.required"
          style="color: red">
          Lütfen Kullanıcı Adını Boş geçmeyiniz.
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && component.email.errors }" />
        <div class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.required"
          style="color: red">
          Lütfen Email alanını Boş geçmeyiniz.
        </div>
        <div class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.email" style="color: red">
          Lütfen Emali'i düzgün giriniz.
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Şifre</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Şifre"
          [ngClass]="{ 'is-invalid': submitted && component.password.errors }" />
      </div>
      <div class="form-group">
        <label for="passwordConfirm" class="form-label">Şifre Tekrar</label>
        <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm"
          placeholder="Şifre Tekrar" [ngClass]="{ 'is-invalid': submitted && component.passwordConfirm.errors }" />
      </div>
      <div *ngIf="submitted && frm.hasError('notSame')"
          style="color: red">
          Lütfen Şifreyi Doğrulayınız.
        </div>
      <br />
      <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
